$p: '' !default;
$url: '\\:' !default;
$mField: 1rem !default;
$mLField: .5rem !default;
$mHText: .25rem !default;
$hr: 1rem !default;
$sm: 576px !default;
$md: 768px !default;
$lg: 992px !default;
$xl: 1200px !default;
$space: .5rem !default;
$breakpoints: ( 'sm': $sm, 'md': $md, 'lg': $lg, 'xl': $xl ) !default;